<form action="/names" method="post" id="player_names_form">
  <div>
    <label for="player1">Player 1 Name:</label>
    <input type="text" name="player1" id="player1" required>
  </div>
  <div>
    <label for="player2">Player 2 Name:</label>
    <input type="text" name="player2" id="player2" required>
  </div>
  <div>
    <input type="submit" value="Play!">
  </div>
</form>
